@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Edu+SA+Beginner&family=Exo+2:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Edu+SA+Beginner&family=Exo+2:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body,
a {
    font-family: 'Exo 2', sans-serif;
}

.header-top-bg {
    height: 72px;
    width: 100%;
    background-color: #19242D;
    z-index: -1;
}

.header-bottom-bg {
    height: 72px;
    width: 100%;
    background-color: #202D39;
    z-index: -1;
    top: 72px
}

.search-bg {
    height: 264px;
    width: 100%;
    background-color: #008AEE;
    z-index: -1;
    top: 144px
}

.slider {
    height: 299px;
    width: 100%;
    top: 408px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .anchor-div {
        height: 100%;

        .image-dots {

            width: 100%;
            top: 95%;

            div {
                width: 0rem;
                height: 0rem;
                box-shadow: 0px 0px 3px;
            }

            .current-image {
                background-color: #008AEE;
            }
        }
    }
}


header {
    height: 144px;
}

.header-options {
    width: 105.36px;
}

.social-media {
    width: 63.57px;
}

.vr {
    background-color: #394957;
}

nav {
    position: relative;
    height: 32px;

    .btn {
        background-color: #008AEE;
    }

    .btn:nth-child(3) {
        background-color: #5FB865;
    }

    .btn:nth-child(4) {
        background-color: #63C7C9;
    }

    .btn:nth-child(5) {
        background-color: #DC5426;
    }

    .btn:nth-child(6) {
        background-color: #E59D48;
    }

    .btn:nth-child(7) {
        background-color: #BD5FE9;
    }

    .btn:nth-child(8) {
        background-color: #202D39;
        border-color: #DC5426;
    }

    .end-overlay {
        position: absolute;
        height: 3.15rem;

        background-image: linear-gradient(to right, transparent, #202D39);
        right: 0%;

        .btn {
            background-color: transparent;

            img {
                width: 25px;
                height: 14px;
                margin-top: 2px;
            }
        }
    }
}

.search-form {
    input:nth-child(1) {
        width: 85%;
        border-color: #008AEE;
        border-style: solid;
        border-width: 1px;
    }

    input:nth-child(2) {
        width: 12.5%;
        background-color: #008AEE;
    }
}

.filters {

    .btn {
        border-width: 2px;
    }

    .btn:nth-child(1) {
        background-color: #008AEE;
    }

    .btn:nth-child(2) {
        border-color: #008AEE;
    }

    .btn:nth-child(3) {
        border-color: #5FB865;
    }

    .btn:nth-child(4) {
        border-color: #63C7C9;
    }

    .btn:nth-child(5) {
        border-color: #DC5426;
    }

    .btn:nth-child(6) {
        border-color: #E59D48;
    }
}

.content {
    margin-top: 350px;

    .highlight-row {
        font-size: 14px;

        .highlight {
            width: auto;
        }

        p {
            margin-bottom: .4rem;
        }

        .highlight-title {
            font-size: 14px;
        }

        .highlight-text {
            color: #777777;
        }
    }
}

.offers-row {
    margin-top: 42px;
}

.latest-row,
.other-row {
    margin-top: 80.13px;
}

.offer-card,
.auction-card,
.car-auction-card,
.car-card,
.parts-card,
.games-card {
    width: 271px;
    height: 271px;
    background-color: #008AEE;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px 0px #00000026;



    p {
        font-size: 16px;
    }

    button {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        background-color: white;
        color: #008AEE;
        width: auto;
        font-size: 18px;
    }
}

.auction-card {
    background-color: #5FB865;

    button {
        color: #5FB865;
    }
}

.car-auction-card {
    background-color: #63C7C9;

    button {
        color: #63C7C9;
    }
}

.car-card {
    background-color: #DC5426;

    button {
        color: #DC5426;
    }
}

.parts-card {
    background-color: #E59D48;

    button {
        color: #E59D48;
    }
}

.games-card {
    background-color: #BD5FE9;

    button {
        color: #BD5FE9;
    }
}

.offer-slider {
    h5 {
        top: -0.5rem;
        left: 2rem
    }

    .offer-item {
        position: relative;

        p {
            margin: 0rem;
        }

        .name {
            font-size: 14.61px;
        }

        .catalog {
            font-size: 12.52px;
            color: #999999;
        }

        .price {
            font-size: 18.78px;
            color: #5FB865;
        }

        width: 271px;
    }

    .offer-end-overlay {
        position: absolute;
        width: 217.78px;
        height: 100%;

        background-image: linear-gradient(to right, transparent, white);
        right: 0%;

        .btn {
            img {
                width: 44.08px;
                height: 24px;
                margin-top: 2px;
            }
        }
    }
}

.latest-slider {

    h5 {
        top: -0.5rem;
        left: 2rem
    }

    .latest-item {

        .buying {
            color: #5FB865;
        }

        .offerring {
            color: #008AEE;
        }

        width: 271px;
    }
}

.latest {
    margin-top: 2rem;
}


.insurance-card,
.credit-card,
.diary-card,
.news-card {
    box-shadow: 0px 0px 20px 0px #00000026;

    width: 271px;
    text-align: center;
    font-size: 20px;
    border-radius: 1.65rem;

    p {
        font-size: 16px;
        color: #999999;
    }
}

.insurance-card {
    border-style: solid;
    border-width: 2px;
    border-color: #DC5426;

    h5 {
        color: #DC5426;
    }
}

.credit-card {
    border-style: solid;
    border-width: 2px;
    border-color: #5FB865;

    h5 {
        color: #5FB865;
    }
}

.diary-card {
    border-style: solid;
    border-width: 2px;
    border-color: #008AEE;

    h5 {
        color: #008AEE;
    }
}

.news-card {
    border-style: solid;
    border-width: 2px;
    border-color: #0043EE;

    h5 {
        color: #0043EE;
    }
}

.comments {
    width: 100%;
    height: 261px;
    margin-top: 87px;

    .previous-comment {
        top: 50%;
        left: 22%;
        rotate: 180deg;
        background-color: transparent;
        border: none;
    }

    .next-comment {
        top: 50%;
        right: 22%;
        background-color: transparent;
        border: none;
    }

}

.comment-box {
    width: 594px;
    height: 261;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 20px 0px #00000014;
    box-sizing: border-box;

    .comment {
        text-align: center;
        height: 123px;
    }

    .user-pic {
        border-radius: 100%;
        background-color: #008AEE;
        padding: 1.5rem;
    }

    .commenter {
        margin-top: 50px;


        .username {
            color: #008AEE !important;
        }
    }
}

.map {
    margin-top: 100.15px;

    .location.sofia {
        top: 270.85px;
        left: 190px;
    }

    .location.varna {
        top: 170.85px;
        right: 245px;
    }

    .location-relative {
        .gear {
            bottom: -14px;
            left: -16.5px;
        }

        .wrench {
            bottom: -13px;
            left: -15.5px;
        }
    }
}