@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Edu+SA+Beginner&family=Exo+2:wght@100;200;300;400;500;600;700&display=swap');

body,
a {
    font-family: 'Exo 2', sans-serif;
}

.header-top-bg {
    height: 72px;
    width: 100%;
    background-color: #19242D;
    z-index: -1;
}

.header-bottom-bg {
    height: 72px;
    width: 100%;
    background-color: #202D39;
    z-index: -1;
    top: 72px
}

.search-bg {
    height: 264px;
    width: 100%;
    background-color: #008AEE;
    z-index: -1;
    top: 144px
}


header {
    height: 144px;
}

.header-options {
    width: 105.36px;
}

.social-media {
    width: 63.57px;
}

.vr {
    background-color: #394957;
}

nav {
    position: relative;
    height: 32px;

    .btn {
        background-color: #008AEE;
    }

    .btn:nth-child(3) {
        background-color: #5FB865;
    }

    .btn:nth-child(4) {
        background-color: #63C7C9;
    }

    .btn:nth-child(5) {
        background-color: #DC5426;
    }

    .btn:nth-child(6) {
        background-color: #E59D48;
    }

    .btn:nth-child(7) {
        background-color: #BD5FE9;
    }

    .btn:nth-child(8) {
        background-color: #202D39;
        border-color: #DC5426;
    }

    .end-overlay {
        position: absolute;
        height: 3.15rem;

        background-image: linear-gradient(to right, transparent, #202D39);
        right: 0%;

        .btn {
            background-color: transparent;

            img {
                width: 25px;
                height: 14px;
                margin-top: 2px;
            }
        }
    }
}

.search-form {
    input:nth-child(1) {
        width: 85%;
        border-color: #008AEE;
        border-style: solid;
        border-width: 1px;
    }

    input:nth-child(2) {
        width: 12.5%;
        background-color: #008AEE;
    }
}

.filters {

    .btn {
        border-width: 2px;
    }

    .btn:nth-child(1) {
        background-color: #008AEE;
    }

    .btn:nth-child(2) {
        border-color: #008AEE;
    }

    .btn:nth-child(3) {
        border-color: #5FB865;
    }

    .btn:nth-child(4) {
        border-color: #63C7C9;
    }

    .btn:nth-child(5) {
        border-color: #DC5426;
    }

    .btn:nth-child(6) {
        border-color: #E59D48;
    }
}